<div class="row mb-3">
  <div class="col">
    <div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add employee</button>
    </div>
  </div>
  <div class="col">
    <div>
      <button class="btn btn-outline-primary" data-toggle="collapse" href="#filter">Filter</button>    </div>
  </div>
</div>
<div class="collapse" id="filter">
  <div class="card card-body">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>First name</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="firstNameFilter"
            [(ngModel)]="filter.firstName" #firstNameFilter="ngModel">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Last name</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="lastNameFilter"
            [(ngModel)]="filter.lastName" #lastNameFilter="ngModel">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Skype</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="skypeFilter"
            [(ngModel)]="filter.skype" #skypeFilter="ngModel">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Email</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="emailFilter"
            [(ngModel)]="filter.email" #emailFilter="ngModel">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Phone number</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="phoneNumberFilter"
            [(ngModel)]="filter.phoneNumber" #phoneNumberFilter="ngModel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Adress</label>
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="adressFilter"
            [(ngModel)]="filter.adress" #adressFilter="ngModel">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Description</label>{{filter.description}}
          <input (input)="saveFilter()" type="text" class="form-control" placeholder="(empty)" name="descriptionFilter"
            [(ngModel)]="filter.description" #descriptionFilter="ngModel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Position</label>
          <select (change)="saveFilter()" class="custom-select "name="positionId" [(ngModel)]="filter.positionId"
          #positionId="ngModel">
          <option [ngValue]="''">(empty)</option>
            <option *ngFor="let position of positionList" [ngValue]="position.id">{{position.name}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Department</label>
          <select (change)="saveFilter()" class="custom-select" name="departmentId" [(ngModel)]="filter.departmentId"
            #departmentId="ngModel">
            <option [ngValue]="''">(empty)</option>
            <option *ngFor="let department of departmentList" [ngValue]="department.id">{{department.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Status</label><br>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary" (click)="filter.active='true'" (click)="saveFilter()"
              [ngClass]="{'active':filter.active=='true'}">Active</button>
            <button type="button" class="btn btn-outline-primary" (click)="filter.active=''" (click)="saveFilter()"
              [ngClass]="{'active':filter.active==''}">All</button>
            <button type="button" class="btn btn-outline-primary" (click)="filter.active='false'" (click)="saveFilter()"
              [ngClass]="{'active':filter.active=='false'}">Dismissed</button>
              <button class="ml-3 btn btn-danger" (click)="resetFilter()">Reset</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="sortable" sortable="id" (sort)="onSort($event)">Id
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='id', 'caret-up':order=='asc' && column=='id'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="personalInfo.firstName" (sort)="onSort($event)">First name
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='personalInfo.firstName', 'caret-up':order=='asc' && column=='personalInfo.firstName'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="personalInfo.lastName" (sort)="onSort($event)">Last name
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='personalInfo.lastName', 'caret-up':order=='asc' && column=='personalInfo.lastName'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="personalInfo.skype" (sort)="onSort($event)">Skype
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='personalInfo.skype', 'caret-up':order=='asc' && column=='personalInfo.skype'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="personalInfo.email" (sort)="onSort($event)">Email
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='personalInfo.email', 'caret-up':order=='asc' && column=='personalInfo.email'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="personalInfo.phoneNumber" (sort)="onSort($event)">Phone number
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='personalInfo.phoneNumber', 'caret-up':order=='asc' && column=='personalInfo.phoneNumber'}">
        </span>
      </th>
      <th scope="col" class="sortable" sortable="isActive" (sort)="onSort($event)">Active
        <span class="caret-blank"
          [ngClass]="{'caret-down':order=='desc' && column=='isActive', 'caret-up':order=='asc' && column=='isActive'}">
        </span>
      </th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of list">
      <th>{{employee.id}}</th>
      <td>{{employee.personalInfo.firstName}}</td>
      <td>{{employee.personalInfo.lastName}}</td>
      <td>{{employee.personalInfo.skype}}</td>
      <td>{{employee.personalInfo.email}}</td>
      <td>{{employee.personalInfo.phoneNumber}}</td>
      <td>{{employee.active}}
        <button *ngIf="employee.active===true" class="btn btn-danger ml-2"
          (click)="dismissEmployee(employee.id)">Dismiss</button>
        <button *ngIf="employee.active===false" class="btn btn-primary ml-2" data-toggle="modal"
          data-target="#recoveryModal" (click)="setEmployee(employee)">Recovery</button>
      </td>
      <td>
        <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#infoModal"
          (click)="setEditEmployee(employee)" (click)="setCurrentDepartment(employee.id)"
          (click)="setCurrentPosition(employee.id)" (click)="initDepPosList(employee)">Info</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between ">
  <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="length" [(page)]="page" [pageSize]="size"
    [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>
  <select (click)="onSizeChange()" class="custom-select" style="width: auto" [(ngModel)]="size">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="15">15 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>

<!-- add modal -->
<div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new Employee</h5>
        <button #close_add type="button" class="close" data-dismiss="modal" (click)="f.resetForm()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" required class="form-control" placeholder="First name" name="firstName"
                  [(ngModel)]="form.firstName" #firstName="ngModel"
                  [ngClass]="{'is-valid':firstName.valid && firstName.touched,'is-invalid':firstName.invalid && firstName.touched}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" required class="form-control" placeholder="Last name" name="lastName"
                  [(ngModel)]="form.lastName" #lastName="ngModel"
                  [ngClass]="{'is-valid':lastName.valid && lastName.touched,'is-invalid':lastName.invalid && lastName.touched}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <input type="text" required class="form-control" placeholder="Email" name="email"
                  [(ngModel)]="form.email" #email="ngModel"
                  [ngClass]="{'is-valid':email.valid && email.touched,'is-invalid':email.invalid && email.touched}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" required class="form-control" placeholder="Phone number" name="phoneNumber"
                  [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel"
                  [ngClass]="{'is-valid':phoneNumber.valid && phoneNumber.touched,'is-invalid':phoneNumber.invalid && phoneNumber.touched}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Skype" name="skype" [(ngModel)]="form.skype"
                  #skype="ngModel">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" required class="form-control " placeholder="Adress" name="adress"
              [(ngModel)]="form.adress" #adress="ngModel"
              [ngClass]="{'is-valid':adress.valid && adress.touched,'is-invalid':adress.invalid && adress.touched}">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control " placeholder="Description" name="description"
              [(ngModel)]="form.description" #description="ngModel">
              </textarea>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="position_id">Position</label>
                <select required class="custom-select " name="position_id" [(ngModel)]="form.position_id"
                  #position_id="ngModel"
                  [ngClass]="{'is-valid':position_id.valid && position_id.touched,'is-invalid':position_id.invalid && position_id.touched}">
                  <option *ngFor="let position of positionList" [ngValue]="position.id">{{position.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="department_id">Department</label>
                <select required class="custom-select" name="department_id" [(ngModel)]="form.department_id"
                  #department_id="ngModel"
                  [ngClass]="{'is-valid':department_id.valid && department_id.touched,'is-invalid':department_id.invalid && department_id.touched}">
                  <option *ngFor="let department of departmentList" [ngValue]="department.id">{{department.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="f.resetForm()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="f.form.invalid" (click)="add(f)">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- info modal -->
<div class="modal fade bd-example-modal-lg" id="infoModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Employee personal info</h5>
        <button #close_info type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formedit" #fedit="ngForm">
          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" disabled placeholder="Id" name="id" [(ngModel)]="formedit.id"
                  #id="ngModel">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" placeholder="First name" name="firstName2"
                  [(ngModel)]="personalInfo.firstName" #firstName2="ngModel" required
                  [ngClass]="{'is-valid':firstName2.valid ,'is-invalid':firstName2.invalid }">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" placeholder="Last name" name="lastName2"
                  [(ngModel)]="personalInfo.lastName" #lastName2="ngModel" required
                  [ngClass]="{'is-valid':lastName2.valid ,'is-invalid':lastName2.invalid }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email2"
                  [(ngModel)]="personalInfo.email" #email2="ngModel" required
                  [ngClass]="{'is-valid':email2.valid ,'is-invalid':email2.invalid }">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Phone number</label>
                <input type="text" class="form-control" placeholder="Phone number" name="phoneNumber2"
                  [(ngModel)]="personalInfo.phoneNumber" #phoneNumber2="ngModel" required
                  [ngClass]="{'is-valid':phoneNumber2.valid ,'is-invalid':phoneNumber2.invalid }">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Skype</label>
                <input type="text" class="form-control" placeholder="Skype" name="skype2"
                  [(ngModel)]="personalInfo.skype" #skype2="ngModel">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Adress</label>
            <input required type="text" class="form-control" placeholder="Adress" name="adress2"
              [(ngModel)]="personalInfo.adress" #adress2="ngModel" required
              [ngClass]="{'is-valid':adress2.valid ,'is-invalid':adress2.invalid }">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea type="text" class="form-control" placeholder="Description" name="description2"
              [(ngModel)]="personalInfo.description" #description2="ngModel">
              </textarea>
          </div>
        </form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Current position</label>
              <input readonly type="text" class="form-control" placeholder="Current position" name="currentPositionName"
                [(ngModel)]="formchange.currentPositionName" #currentPositionName="ngModel">
            </div>
          </div>
          <div class="col">
            <button data-dismiss="editModal" class="btn btn-primary ml-2" data-toggle="modal"
              data-target="#changePositionModal" (click)="setCurrentPosition(formedit.id)" [disabled]="!active">Change
              position</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Current department</label>
              <input readonly type="text" class="form-control" placeholder="Current department"
                name="currentDepartmentName" [(ngModel)]="formchange.currentDepartmentName"
                #currentDepartmentName="ngModel">
            </div>
          </div>
          <div class="col align-items-end">
            <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#changeDepartmentModal"
              (click)="setCurrentDepartment(formedit.id)" [disabled]="!active">Change department</button>
          </div>
        </div>
        <h4>The history of development</h4>
        <div class="row">
          <div class="col">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Department</th>
                  <th>Position</th>
                  <th>Start</th>
                  <th>End</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let depPos of depPosList ">
                  <td>{{depPos.id}}</td>
                  <td>{{depPos.department.name}}</td>
                  <td>{{depPos.position.name}}</td>
                  <td>{{depPos.startDate }}</td>
                  <td>{{depPos.endDate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!active" class="alert alert-info ">Editing the data of the dismissed employee is impossible</div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="fedit.form.invalid" [disabled]="!active"
          (click)="edit(fedit)">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- change position modal -->
<div class="modal fade bd-example-modal-lg" id="changePositionModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Change position</h5>
        <button #close_pos type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formchange" #fchangeposition="ngForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Current position</label>
                <input readonly type="text" class="form-control" placeholder="Current position"
                  name="currentPositionName2" [(ngModel)]="formchange.currentPositionName"
                  #currentPositionName2="ngModel">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="position_id">New position</label>
                <select required class="custom-select" name="position_id3" [(ngModel)]="formchange.position_id"
                  #position_id3="ngModel">
                  <option *ngFor="let position of positionList" [ngValue]="position.id">{{position.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" name="description" [(ngModel)]="formchange.description"></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="formchange.currentPositionId===formchange.position_id" type="button"
            class="btn btn-primary" [disabled]="fchangeposition.form.invalid" (click)="changePosition();">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- change department modal -->
<div class="modal fade bd-example-modal-lg" id="changeDepartmentModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Change department</h5>
        <button #close_dep type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formchange" #fchangedepartment="ngForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Current department</label>
                <input readonly type="text" class="form-control" placeholder="Current department"
                  name="currentDepartmentName2" [(ngModel)]="formchange.currentDepartmentName"
                  #currentDepartmentName2="ngModel">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="department_id">New department</label>
                <select required class="custom-select" name="department_id3" [(ngModel)]="formchange.department_id"
                  #department_id3="ngModel">
                  <option *ngFor="let department of departmentList" [ngValue]="department.id">{{department.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" name="description" [(ngModel)]="formchange.description"></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]="formchange.currentDepartmentId==formchange.department_id" type="button"
            class="btn btn-primary" [disabled]="fchangedepartment.form.invalid"
            (click)="changeDepartment()">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- recovery modal -->
<div class="modal fade bd-example-modal-lg" id="recoveryModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Recovery employee</h5>
        <button #close_rec type="button" class="close" data-dismiss="modal" (click)="frecovery.resetForm()"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formchange" #frecovery="ngForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="department_id">Department</label>
                <select required class="custom-select" name="rec_department_id"
                  [(ngModel)]="formchange.rec_department_id" #rec_department_id="ngModel">
                  <option *ngFor="let department of departmentList" [ngValue]="department.id">{{department.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="position_id">Position</label>
                <select required class="custom-select" name="rec_position_id" [(ngModel)]="formchange.rec_position_id"
                  #rec_position_id="ngModel">
                  <option *ngFor="let position of positionList" [ngValue]="position.id">{{position.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="frecovery.resetForm()">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="frecovery.form.invalid"
            (click)="recoveryEmployee()">Recovery</button>
        </div>
      </div>
    </div>
  </div>
</div>