<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand display-4">Employee-module</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="home">Home</a>
            <a class="nav-item nav-link" routerLink="employee-list">Employee list</a>
            <a class="nav-item nav-link" routerLink="department-list">Department list</a>
            <a class="nav-item nav-link" routerLink="position-list">Position list</a>
            <a class="nav-item nav-link" routerLink="department-employee-list">Department info</a>
            <a class="nav-item nav-link" routerLink="position-employee-list">Position info</a>
            <a class="nav-item nav-link" routerLink="hiring-info-list">Hiring info</a>
        </div>
    </div>
</nav>

<div class="container mt-5">       
    <router-outlet></router-outlet>
</div>