<div>
  <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add position</button>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="sortable" sortable="id" (sort)="onSort($event)">Id
          <span class="caret-blank"
            [ngClass]="{'caret-down':order=='desc' && column=='id', 'caret-up':order=='asc' && column=='id'}">
      </span>
        </th>
      <th scope="col" class="sortable" sortable="name" (sort)="onSort($event)">Name
          <span class="caret-blank"
            [ngClass]="{'caret-down':order=='desc' && column=='name', 'caret-up':order=='asc' && column=='name'}">
      </span>
        </th>
      <th scope="col" class="sortable" sortable="isActive" (sort)="onSort($event)">Active
          <span class="caret-blank"
            [ngClass]="{'caret-down':order=='desc' && column=='isActive', 'caret-up':order=='asc' && column=='isActive'}">
      </span>
        </th>
      <th scope="col" class="sortable" sortable="id" (sort)="onSort($event)">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let position of list">
      <th>{{position.id}}</th>
      <td>{{position.name}}</td>
      <td *ngIf="position.active===false">{{position.active}} <button class="btn btn-primary" (click)="enablePosition(position.id)">Enable</button></td>
      <td *ngIf="position.active===true">{{position.active}} <button class="btn btn-danger" (click)="disablePosition(position.id)">Disable</button></td>      
      <td>          
          <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#editModal"
          (click)="setEditPosition(position)" [disabled]="position.active===false">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between ">
    <ngb-pagination
    (pageChange)="onPageChange($event)" [collectionSize]="length" [(page)]="page" [pageSize]="size"
    [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
    <select (click)="onSizeChange()" class="custom-select" style="width: auto" [(ngModel)]="size">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="15">15 items per page</option>
        <option [ngValue]="30">30 items per page</option>
      </select>
  </div>

<!-- add modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new Position</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="f.resetForm()" 
        aria-label="Close" #close_add>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="form.name"
              #name="ngModel" [ngClass]="{'is-valid':name.valid && name.touched,'is-invalid':name.invalid && name.touched}">
          </div>
        </form>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="f.resetForm()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="f.form.invalid" 
          (click)="add(f)">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Update Position</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close_edit>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formedit" #fedit="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" disabled placeholder="Id" name="id" [(ngModel)]="formedit.id"
              #id="ngModel">
          </div>
          <div class="form-group">
            <input type="text" required class="form-control" placeholder="Name" name="name2" [(ngModel)]="formedit.name"
              #name2="ngModel" [ngClass]="{'is-valid':name2.valid,'is-invalid':name2.invalid }" >
          </div>
        </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="fedit.form.invalid" 
          (click)="edit(f)">Update</button>
      </div>
    </div>
  </div>
</div>